.footer {
    background-color: #3e1b01;
    bottom: 0;
    right: 0;
    left: 0;
    height: 400px;
}

.contact {
    font-size: 40px;
    font-weight: bold;
    font-family: "Merriweather";
    color: rgb(255, 225, 225);
    display: block;
    margin-left: 500px;
    margin-top: 50px;
    word-spacing: 10px;
}

.contact-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.info {
    color: rgb(255, 225, 225);
    margin-left: 200px;
    font-size: 16px;
    font-family: "Merriweather";
    margin-top: 45px;
}

.info p {
    margin-bottom: 15px;
}

.email-form {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 200px;
    border-style: solid;
    border-color: white;
    margin-bottom: 15px;
}

.msg-form {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 200px;
    padding-bottom: 50px;
    border-style: solid;
    border-color: white;
    margin-bottom: 15px;
}

.submit-button {
    display: block;
    color: #3e1b01;
    background-color: rgb(255, 225, 225);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: solid, 1px, rgb(255, 225, 225);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.submit-button:hover {
    background-color: rgb(223, 190, 190);
}

.submit-button:active {
    background-color: rgb(174, 147, 147);
}

.form {
    margin-top: 45px;
    margin-right: 250px;
}